{
	"useTabs": true,
	"singleQuote": false,
	"semi": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["@prettier/plugin-oxc", "prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/app/styles/app.css"
}
